* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background: #1f1c1c;
  color: white;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.5em; }

.header {
  background-color: #631bc7;
  width: 100%; }
  .header .logoeagle {
    margin: auto;
    display: block; }
  .header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141313;
    margin-top: 1rem;
    font-family: initial;
    font-size: 3rem; }

  /*.shopcar{

  }*/

nav {
  background: #631bc7;
  height: 80px;
  width: 100%; }

nav ul {
  float: right;
  margin-right: 20px; }

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px; }

nav ul li a {
  text-decoration: none;
  color: #1a1717;
  font-size: 22px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

li a:hover {
  background: #3f3f86;
  transition: .5s; }

.checkbtn {
  width: 3rem;
  font-size: 32px;
  color: #1a1616;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

.intro {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 2rem 2rem 2rem; }
  .intro h2 {
    font-size: 2rem;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem; }
  .intro h3 {
    font-size: 2rem;
    color: #631bc7; }

.intro2 {
  text-align: center;
  font-size: 1rem;
  border-color: #631bc7; }

div h2 {
  align-items: center;
  justify-content: center; }

.titulocatalog {
  color: #631bc7;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  font-size: 3rem; }

#representing {
  justify-content: center;
  justify-items: center; }

.productos {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.prenda {
  display: inline-block;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem; }
  .prenda p {
    font-size: 12px; }
  .prenda button {
    width: 2rem;
    border-radius: 10px; }

.div-talle {
  display: flex;
  align-items: center;
  justify-content: center; }
  .div-talle button {
    font-weight: 2rem;
    width: 2rem;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #631bc7; }

.btn-talle {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden; }

.prenda p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 20px; }

.prenda-1 {
  width: 100%;
  margin-bottom: 2rem;
  background-color: #110e0e;
  display: flex;
  justify-content: flex-end; }

.prenda-1 img {
  width: 130rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem; }

.prenda-1 p {
  font-size: 30px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 4rem;
  margin-right: 4rem; }

.prenda-2 {
  width: 100%;
  background-color: #110e0e;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 4rem; }
  .prenda-2 p {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    font-size: 30px;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .prenda-2 img {
    width: 40rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem; }

.local3 {
  display: inline-block; }

.titleh3 {
  display: flex;
  color: #6639A6; }
  .titleh3 h3 {
    font-size: 2rem; }

.centerh2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 3rem;
  background-color: #631bc7;
  border-radius: 20px; }

.centerh4 {
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  margin-left: 4rem;
  margin-right: 4rem; }

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  color: #fff;
  letter-spacing: 4px;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  margin-top: 10px; }

.btn:hover {
  background: #6639A6;
  box-shadow: 0 0 10px  #6639A6, 0 0 40px #6639A6, 0 0 80px #6639A6; }

.buttomposition {
  margin: 1rem;
  transition: all 1s; }

.buttomposition {
  transform: scale(1.5); }

.tabla {
  width: 1000px;
  height: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  text-align: center;
  border-color: #631bc7;
  background-color: #631bc7;
  border-radius: 50px;
  margin-top: 32px; }

main h2 {
  font-family: inherit; }

.ubication-h3 {
  display: flex;
  justify-content: center;
  font-size: 2rem; }

main div p {
  display: flex;
  font-size: 2rem; }

.ubication {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 33px; }

.container {
  margin: 4rem;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em; }
  .container h3 {
    text-align: center; }

ul {
  list-style: none;
  padding: 0; }

.logo {
  text-align: center;
  font-size: 3em;
  margin-bottom: 4rem; }

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }

.contact-wrapper > * {
  padding: 1em; }

.contact-form {
  background: #222222; }

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.contact-form form label {
  display: block; }

.contact-form form p {
  margin: 0;
  padding: 1em; }

.contact-form form .block {
  grid-column: 1 / 3; }

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #aa1bc3; }

.contact-form form button {
  background: #631bc7;
  border: 0;
  text-transform: uppercase;
  padding: 1em; }

.contact-form form button:hover,
.contact-form form button:focus {
  background: #631bc7;
  color: #fff;
  outline: 0; }

.contact-info {
  background: #631bc7; }

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0; }

  .enviar{
    grid-column: 1 / 3;
    background-color: #631bc7;
  }

.container {
  max-width: 1170px;
  margin: auto; }

.row {
  display: flex;
  flex-wrap: wrap; }

ul {
  list-style: none; }

.footer {
  background-color: #24262b;
  padding: 70px 0; }

.footer-col {
  width: 25%;
  padding: 0 15px; }

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative; }

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #631bc7;
  height: 2px;
  box-sizing: border-box;
  width: 50px; }

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px; }

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease; }

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px; }

.social-links {
  display: flex;
  flex-direction: column; }

/*todo arriba footer*/
@media (max-width: 1000px) {
  .productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .centerh2 {
    text-align: center; }
  .intro p {
    font-size: 24px; }
  .prenda-1 {
    display: flex;
    flex-direction: column; }
  .prenda-2 {
    display: flex;
    flex-direction: column-reverse; }
    .prenda-2 p {
      display: flex;
      font-size: 26px; }
  .prenda-1 img {
    display: inline-block;
    margin-left: 9rem;
    width: 70%; }
  .prenda-1 p {
    text-align: center; } }

@media (max-width: 952px) {
  nav ul li a {
    font-size: 20px; }
  .centerh2 {
    text-align: center; }
  .productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .prenda-2 {
    image-resolution: 100%;
    align-items: center;
    justify-content: center;
    display: flex; } }

@media (max-width: 858px) {
  .checkbtn {
    display: block; }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1f1c1c;
    left: -100%;
    text-align: center;
    transition: all .5s; }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }
  nav ul li a {
    font-size: 20px;
    color: #631bc7; }
  li a:hover {
    background: none;
    color: red; }
  #check:checked ~ ul {
    left: 0; } }

@media (max-width: 767px) {
  .productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .centerh2 {
    text-align: center; }
  .prenda-1 {
    display: flex;
    justify-content: center;
    align-items: center; }
    .prenda-1 img {
      align-items: center;
      justify-content: center; }
  .prenda-2 {
    display: flex;
    justify-content: center;
    align-items: center; }
    .prenda-2 img {
      width: 70%; }
  .footer-col {
    width: 50%;
    margin-bottom: 30px; } }

@media (max-width: 574px) {
  .productos {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .productos .prenda {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
  .intro h2 {
    font-size: 28px; }
  .centerhh2 {
    font-size: 13px; }
  .prenda-1 {
    display: flex;
    align-items: center;
    justify-content: center; }
    .prenda-1 img {
      justify-content: center;
      align-items: center; } }

.box {
  height: 10px;
  width: 5px;
  padding: 25px; }
